 
ion-content{
    --ion-background-color:transparent ;
}
.bg-color{
    background-color: #e1eaf9;
}
ion-header{
    position: absolute;
}
ion-toolbar{
    --ion-background-color:transparent ;
    --opacity: 0;
}
ion-card{
    --ion-background-color:transparent;
    box-shadow: none;
}
ion-card-title{
    margin-top: 50px;
    font-size: 25px;
    color: #53565a;
    font-weight: 600;
    text-align: center;
}
ion-card-subtitle{
    text-align: center !important ;
    padding-top: 15px;
    font-size: 13px;
    color: #888c91;
    font-weight: 400;
    text-transform: none;
    padding: 0 30px;
}
ion-card-content{
    padding-top: 30px;
}

ion-item{
    color: #74787e;
    --border-color: #d4d7db;
    --highlight-color-focused:#215ab7 ;
    --padding-start: 0;
    --inner-padding-end:0;
    font-size: 18px;
    ion-input{
        color: #74787e;
        font-size: 13px;
        ion-icon{
            padding-right:6px;
            font-size:18px;

        
    }}
    ion-input:hover{
        color:#215ab7
    }


    }
.sign-btn-wrap{
    text-align: center;
    padding-top: 20px;
    .sign-btn{
       --ion-primary-color:#215ab7;
       color:#f4f6fa
    }
}